.name {
  display: inline-block;
  margin: 0;
  font-size: 1.5rem;
  color: var(--ifm-color-primary);
}

.description {
  padding: 2rem 0;
}

.italic {
  font-style: italic;
}

.fullHeight {
  height: auto;
}
